#a,#b,#c,#d,#e,#f,#g {
                        display: none; 
                        position: relative;
                        left: 30%;
                        top: 50%;
                        
}
noscript { color:red; font-family: Impact, Charcoal, sans-serif;}
